{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form id="loginForm"  method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div id="login-page">
        <div class="textSide">
            <h1>Connexion</h1>
        </div>
        <div class="rightSide">

            <div class="input-space">

                <input type="email" value="{{ last_username }}" placeholder="Entrer votre email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>


            <div class="input-space">
                <input type="password" placeholder="Entrer votre mot de passe" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <button class="btnSearch"
                    type="submit">Se Connecter</button>


            <div>
                <p>Pas encore inscrit ? <a href="{{ path('app_register_choice') }}" id="parIci">C'est par ici</a></p>
            </div>
            <div>
                <a href="{{ path('app_forgot_password_request') }}" id="parIci"><p>Mot de passe oublié ?</p></a>
            </div>
        </div>

    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

</form>

{% endblock %}
