{% extends 'base.html.twig' %}

{% block title %}Devnodes | Tous vos messages{% endblock %}

{% block body %}
    <style>
        .wrapper-messagerie {
            padding: 20px;
            max-width: 95%;
            margin:auto;
        }

        .box-mission-message {
            background-color: #f5f5f5;
            padding: 20px;
            margin-bottom: 20px;
        }

        .sender-info {
            margin-left: 10px;
        }

        .sender-name {
            font-weight: 700;
            font-size: 18px;
        }

        .sender-email {
            font-size: 14px;
            color: #6c757d;
        }

        .mission-info {
            margin-bottom: 10px;
        }

        .mission-title {
            font-weight: 700;
            font-size: 18px;
        }

        .mission-date {
            font-size: 14px;
            color: #6c757d;
        }

        .message-content {
            margin-top: 10px;
        }

    </style>
    <h1 class="text-center"> Messagerie</h1>
    <p class="text-center">Ici retrouvez tous vos derniers messages</p>

    <div class="wrapper-messagerie">
        {% for message in messageReceive %}
            <div class="box-mission-message">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="mission-info">
                            Mission : <span class="mission-title">{{ message.mission.title }}</span><br>
                            <span class="mission-date">{{ message.datetime|date('d-m-Y H:i') }}</span>
                        </div>
                        <div class="message-content">
                            Message:<br>
                            <p><strong>{{ message.content }}</strong></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="sender-info">
                            De <span class="sender-name">{{ message.sender.firstname }} {{ message.sender.lastname }}</span><br>
                            <span class="sender-email">{{ message.sender.email }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-8">
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="text-right">
                            <a class="lien-nul" href="{{ path('app_messaging_mission', { 'missionId': message.mission.id }) }}">
                                <i class="fa-solid fa-reply"></i> Voir
                            </a><br>
                            <a class="lien-nul" href="#">
                                <i class="fa-solid fa-trash"></i> Supprimer
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>

{% endblock %}