{% extends 'base.html.twig' %}

{% block title %} Devnodes | Projet {{ title }}{% endblock %}

{% block body %}
    <h3 class="text-center mb-3 mt-3">Projet "<strong>{{ title }}</strong>"</h3>
    <hr>
    <div class="wrapper-conversation conversation-container">
    <!-- Afficher chaque message existant dans la conversation -->
        {% for message in messages %}
            <div class="chat-message {% if message.sender == app.user %}sent{% else %}received{% endif %}">
                <div class="message-content">
                    <div class="message-body">
                        {{ message.content }}
                    </div>
                    <div class="message-footer">
                        <span class="message-date">{{ message.datetime|date('d-m-Y H:i') }}</span>
                        {% if message.sender == app.user %}
                            <span class="message-sender">Moi</span>
                        {% else %}
                            <span class="message-sender">{{ message.sender.lastName }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

    <!-- Formulaire pour envoyer de nouveaux messages -->

    </div>
    <div class="new-message-form">
        {{ form_start(newMessageForm) }}
        {{ form_widget(newMessageForm.content, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre message...'}}) }}
        <button class="btn1" type="submit" >Envoyer</button>
        {{ form_end(newMessageForm) }}
    </div>
{% endblock %}