<div class="cardFreelance" style="width: 15rem;">
    <img src="../img/woman.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ freelance.firstname }} {{ freelance.lastname }}</h5>
        <h4><i class="fa-solid fa-location-dot"></i> à {{ freelance.city }}</h4>
        <h3>{{ freelance.price }}€/jour</h3>
        <p class="card-text">{{ freelance.title }}</p>
        <div class="viewProfil">
        <a href="{{ path('app_profil_show', {'id': freelance.id })}}" class="btn6"><i class="fa-solid fa-eye"></i></a>
        </div>
    </div>
</div>
