<div class="card" style="width: 18rem;">
    {% if freelance.picture %}
        <img style="height: 200px; object-fit: cover" src="{{ asset('uploads/photoprofil/' ~ freelance.picture) }}" alt="Photo de profil">
    {% else %}
        <div class="display-3 text-center"><i class="fa-solid fa-laptop-code"></i></div>
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ freelance.firstname }} {{ freelance.lastname }}</h5>
        <h4><i class="fa-solid fa-location-dot"></i> à {{ freelance.city }}</h4>
        <h3>{{ freelance.price }}€/jour</h3>
        <p class="card-text">{{ freelance.title }}</p>
        <div class="viewProfil">
            {% if app.user %}
                {% if not is_granted('ROLE_FREELANCE') %}
                    <i id="favorite-icon-{{ freelance.id }}" class="{{ user.getFavoriteFreelance().contains(freelance) ? 'fa-solid text-danger' : 'fa-regular text-danger' }} fa-heart" onclick="toggleFavorite({{ freelance.id }})"></i>
                {% endif %}
            {% endif %}
            <a  class="text-dark" href="{{ path('app_profil_show', {'id': freelance.id })}} "><i class="fa-solid fa-eye"></i></a>
        </div>
</div>
</div>
