{{ form_start(form, {'attr':{'class':'filtre'}}) }}
    <div class="btnSearch2">Language de programmation {{ form_row(form.language) }}</div>
    <div class="btnSearch2">Framework {{ form_row(form.framework) }}</div>
    <div class="btnSearch2">Ville {{ form_row(form.city) }}</div>
    <button class="btnSearch2" type="submit">Rechercher</button>
{{ form_end(form) }}