{% extends 'base.html.twig' %}

{% block title %}Devnodes | Inscription{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

			<h1 class="text-center">Inscription</h1>
			<p class="text-center">Vous êtes a la recherche d'un Freelance ?</p>

			<hr>
		<div id="myForm">
			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.firstname) }}
			{{ form_row(registrationForm.lastname) }}
			{{ form_row(registrationForm.denominationCompany) }}
			{{ form_row(registrationForm.siretCompany) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.password) }}
			{{ form_row(registrationForm.agreeTerms) }}
			<button style="width:200px;" type="submit">S'inscrire</button>
			{{ form_end(registrationForm) }}
		</div>

{% endblock %}
