{% extends 'base.html.twig' %}

{% block title %}{{ app.user.firstname }} {{ app.user.lastname }}, {{ app.user.title }}{% endblock %}

{% block body %}

    <header>
        <!-- En-tête de profil -->
        <div class="container">
            <div class="column">
                {% if app.user.picture %}
                    <img class="photo" src="{{ asset('uploads/photoprofil/' ~ app.user.picture) }}" alt="Photo de profil">
                {% else %}
                    <i class="fa-solid fa-camera"></i>
                {% endif %}
            </div>
            <div class="column">
                <h1 class="bolder">{{ app.user.firstname }} {{ app.user.lastname }}</h1>
                <h2 class="bold">{{ app.user.title }}</h2>
                <i class="fa-solid fa-briefcase"></i> {{ app.user.remoteWork }}<br>
                <i class="fa-solid fa-star"></i>Avis
                <div class="squares">
                    <div class="price">
                        Prix<br>
                        {{ app.user.price }}€ par/j
                    </div>
                    <div class="xpYears">
                        Expérience<br>
                        {{ app.user.xpYears }} an(s)
                    </div>
                </div>
            </div>

            <div class="column">
            </div>
        </div>

    </header>

    <br>

    <!-- 14 blocs réponsifs de deux colonnes -->
    <div class="wrapper">

        <h2 class="text-center">Modifier mes informations</h2>

        <div class="group-btn">
            <div class="select-edit">
                <button class="step-button" data-step="1" onclick="nextStep(1)"><small> <i class="fa-sharp fa-solid fa-circle-info"></i> Informations de base</small>
                </button>
                <button class="step-button" data-step="2" onclick="nextStep(2)"><i class="fa-solid fa-location-dot"></i> Localisation</button>
                <button class="step-button" data-step="3" onclick="nextStep(3)"><i class="fa-solid fa-plus"></i> Compétences</button>
                <button class="step-button" data-step="4" onclick="nextStep(5)"><i class="fa-solid fa-trash"></i> Compétences</button>
                <button class="step-button" data-step="4" onclick="nextStep(4)"><i class="fa-sharp fa-solid fa-comment"></i> Description</button>
            </div>
        </div>

        <div id="step1" class="active">
            <div id="myForm">
            <br>
            {{ form_start(freelanceBase) }}

            <p>Photo de profil</p>

            {{ form_widget(freelanceBase.picture) }}
            {{ form_errors(freelanceBase.picture) }}

            <a class="text-danger" href="{{ path('delete_photo_profil', {'id': app.user.id } ) }}">Supprimer la photo</a>
            <br> <br>
            <p>Titre du profil</p>

            {{ form_widget(freelanceBase.title) }}
            {{ form_errors(freelanceBase.title) }}

            <p>Prix à la journée</p>

            {{ form_widget(freelanceBase.price) }}
            {{ form_errors(freelanceBase.price) }}

            <p>Depuis combien de temps êtes-vous dans le domaine ?</p>

            {{ form_widget(freelanceBase.xpYears) }}
            {{ form_errors(freelanceBase.xpYears) }}

            <button type="submit">Modifier</button>
            {{ form_end(freelanceBase) }}
            </div>
        </div>

        <!-- STEP 2 (Info Localisation et préférence de travail) -->

        <div id="step2">
            <div id="myForm">
            <h3 class="text-center">Localisation et préférence de travail</h3>
            {{ form_start(freelanceLocation) }}

            <p>Entrez votre ville</p>

            {{ form_widget(freelanceLocation.city) }}
            {{ form_errors(freelanceLocation.city) }}

                <p>Travaillez-vous chez vous ? à distance ?</p>

                {{ form_widget(freelanceLocation.remoteWork) }}
                {{ form_errors(freelanceLocation.remoteWork) }}
                <br>

            <button type="submit">Modifier</button>

            {{ form_end(freelanceLocation) }}
            </div>
        </div>

        <!-- STEP 3 (Compétences)-->
        <div id="myForm">
        <div id="step3">

            {{ form_start(freelanceTechnology) }}

            <p>Paramétrer mes compétences</p>
            <button type="submit">Modifier</button>
            {{ form_end(freelanceTechnology) }}


        </div>


        <!-- STEP 4 (Description) -->

        <div id="step4">
            <p>Vous en quelques mots</p>
            {{ form_start(freelanceBiographie) }}

            {{ form_widget(freelanceBiographie) }}
            <button type="submit">Modifier</button>
            {{ form_end(freelanceBiographie) }}
        </div>
        <div id="step5">
            <h2 class="text-center mb-3">Supprimer une compétence</h2>
            <h3 class="text-center">Language de programmation</h3>
            {% for codingLanguage in freelance.codingLanguages %}
                {{ codingLanguage.nameCodingLanguage }} <a href="{{ path('profil_delete_coding', {'id': codingLanguage.id } ) }}"><i class="fa-solid fa-trash"></i></a><br>
            {% endfor %}
            {% if freelance.codingLanguages is empty %}
                <p class="text-center">Aucune sélection pour cette compétence</p>
            {% endif %}
            <br>
            <hr>
            <br>
            <h3 class="text-center">Framework</h3>
            {% for framework in freelance.frameworks %}
                {{ framework.nameFramework }} <a href="{{ path('profil_delete_framework', {'id': framework.id } ) }}"><i class="fa-solid fa-trash"></i></a><br>
            {% endfor %}
            {% if freelance.frameworks is empty %}
                <p class="text-center">Aucune sélection pour cette compétence</p>
            {% endif %}
            <br>
            <hr>
            <br>
            <h3 class="text-center">Base de donnée </h3>
            {% for db in freelance.dbs %}
                {{ db.nameDb }} <a href="{{ path('profil_delete_database', {'id': db.id } ) }}"><i class="fa-solid fa-trash"></i></a><br>
            {% endfor %}
            {% if freelance.dbs is empty %}
                <p class="text-center">Aucune sélection pour cette compétence</p>
            {% endif %}
            <br>
            <hr>
            <br>
            <h3 class="text-center">Methodologie </h3>
            {% for methodology in freelance.methodologies %}
            {{ methodology.nameMethodology }} <a href="{{ path('profil_delete_methodology', {'id': methodology.id } ) }}"><i class="fa-solid fa-trash"></i></a><br>
            {% endfor %}
            {% if freelance.methodologies is empty %}
                <p class="text-center">Aucune sélection pour cette compétence</p>
            {% endif %}
            <br>
            <hr>
            <br>
            <h3 class="text-center">Versionning</h3>
            {% for version in freelance.versionControls %}
                {{ version.nameVersionControl }} <a href="{{ path('profil_delete_version', {'id': version.id } ) }}"><i class="fa-solid fa-trash"></i></a><br>
            {% endfor %}
            {% if freelance.versionControls is empty %}
                <p class="text-center">Aucune sélection pour cette compétence</p>
            {% endif %}
        </div>

    </div>

{% endblock %}


