{% extends 'base.html.twig' %}

{% block title %}{{ freelance.firstname  }} {{ freelance.lastname }}, {{ freelance.title }}{% endblock %}

{% block body %}
    <div class="wrapper">
        <!-- Header (photo, titre, prix, disponibilité, experience. -->
        <div class="container">
            <div class="column"><i class="fa-solid fa-camera"></i></div>
            <div class="column">
                <h1 class="bolder">{{ freelance.firstname }} {{ freelance.lastname }}</h1>
                <h2 class="bold">{{ freelance.title }}</h2>
                <i class="fa-solid fa-briefcase"></i> {{ freelance.remoteWork }}<br>
                <i class="fa-solid fa-star"></i>Avis
                <div class="squares">
                    <div class="price">
                        Prix<br>
                        {{ freelance.price }} € par jours
                    </div>
                    <div class="xpYears">
                        Experience<br>
                        {{ freelance.xpYears }} an
                    </div>
                </div>
            </div>
            <div class="column">
                {% if app.user %}
                    <button class="btn btn-success mt-2 proposeMission"><a href="{{ path('create_mission', { id : freelance.id })}}" class="btn1">Proposer une mission</a></button>
                {% else %}
                    <button class="btn btn-success mt-2 proposeMission"><a href="{{ path('app_login') }}">S'inscrire pour proposer une mission</a></button>
                {% endif %}
            </div>
        </div>

    </div>

    <!-- fin header -->

    <div class="shadowline"><hr></div>

    <div class="parent">
        <div class="enfant1">
            <div class="">
                ddddddd
            </div>
            <div class="">
                ddddddd
            </div>
            <div class="">
                ddddddd
            </div>
        </div>
        <div class="enfant2">aaaaaaaaaaaaa</div>
        <div class="enfant3">uuuuuuuuuuuuuuuuuuuuu</div>
    </div>


{% endblock %}
