{% extends 'base.html.twig' %}

{% block title %}Devnodes | Proposer une mission{% endblock %}

{% block body %}
    <h1 class="text-center mb-3">Proposer une mission</h1>

    <div class="col-6 m-5">
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.frenquency) }}
        {{ form_row(form.description) }}
        {{ form_row(form.addFile) }}

        <button style="width:200px;" type="submit">Envoyer</button>
    {{ form_end(form) }}
    </div>

{% endblock %}