{% extends 'base.html.twig' %}

{% block title %}Devnodes | Missions{% endblock %}



{% block body %}

    <h1 class="text-center mt-3">Missions</h1>
    <hr>

    {% if is_granted('ROLE_FREELANCE') %}

    {% for mission in missionsReceive %}>


    <div class="card col-9 ms-5 mb-2">
        <div class="card-header text-end">
            {{ mission.startDate|date("d/m/Y") }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ mission.title }}</h5>
            Nom du client : <b>{{ mission.sendMission.lastname }} {{ mission.sendMission.firstname }}</b><br>
            Email : <b>{{ mission.sendMission.email }}</b><br>
            Entreprise : <b>{{ mission.sendMission.denominationCompany }}</b><br>
            <div class="mb-3 mt-3">Statut de la mission :  {{ mission.state }}</div>
            <button type="button" class=""><i class="fa-sharp fa-solid fa-message"></i></button>
            <button type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal{{ mission.id }}"><i class="fa-solid fa-eye text-light"></i></button>
        </div>
    </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{ mission.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel"><b>{{ mission.title }}</b></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <b>Début de mission souhaité : {{ mission.startDate|date("d/m/Y")}}</b><br><br>

                            Nom du client : <b>{{ mission.sendMission.lastname }} {{ mission.sendMission.firstname }}</b><br>
                            Entreprise : <b>{{ mission.sendMission.denominationCompany }}</b><br>
                            Email : <b>{{ mission.sendMission.email }}</b><br>

                        <hr>

                            <b>Objet de la mission :</b> <p>{{ mission.object }}</p>
                            <hr>
                            <b>Description de la mission :</b><br>
                            <p>{{ mission.description }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Accepter</button>
                            <button type="button" class="btn btn-danger">Refuser</button>
                            <button type="button" class="btn btn-secondary">Contacter</button>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    {% endif %}


    {% for mission in missionSend %}


        <div class="card col-9 ms-5 mb-2">
            <div class="card-header text-end">
                {{ mission.startDate|date("d/m/Y") }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ mission.title }}</h5>
                Mission envoyée à <b><a  class="text-dark" href="{{ path('app_profil_show', {'id': mission.receiveMission.id })}} ">{{ mission.receiveMission.lastname }} {{ mission.receiveMission.firstname }}</a></b><br><br>
                <b>Description de la mission :</b><br>
                <p>{{ mission.description }}</p>
                <div class="mb-3 mt-3">Statut de la mission :  {{ mission.state }}</div>
                <a href="{{path('delete_mission', {'id': mission.id } )}}"type="button" class="btn btn-danger text-end"><i class="fa-solid fa-trash"></i> Supprimer</a>
            </div>
        </div>

    {% endfor %}


{% endblock %}
