{% extends 'base.html.twig' %}

{% block title %}Devnodes | Missions{% endblock %}



{% block body %}


    <div class="group-btn">
        <div class="select-edit">
            {% if is_granted('ROLE_FREELANCE') or is_granted('ROLE_VIP') %}
            <button class="step-button" data-step="1" onclick="nextStep(1)">Mission envoyé </button>
            {% endif %}
            <button class="step-button" data-step="2" onclick="nextStep(2)">Mission reçu</button>
        </div>
    </div>

<div id="step1" class="active">

    {% for mission in missionSend %}
        <div class="card col-9 ms-5 mb-2">
            <div class="card-header text-end">
                {{ mission.startDate|date("d/m/Y") }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ mission.title }}</h5>
                Mission envoyée à <b><a  class="text-dark" href="{{ path('app_profil_show', {'id': mission.receiveMission.id })}} ">{{ mission.receiveMission.lastname }} {{ mission.receiveMission.firstname }}</a></b><br><br>
                <b>Description de la mission :</b><br>
                <p>{{ mission.description }}</p>
{#                <div class="mb-3 mt-3">Statut de la mission :  nothing</div>#}

                <p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Statut de la mission
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">

                            {% if workflow_can(mission, 'to_freelance_accepted') %}
                                <a type="button" class="btn btn-primary btn-sm" href="{{ path('mission_status_change', {'id': mission.id, 'to': 'to_freelance_accepted'}) }}">Freelance Valide</a><br>
                            {% endif %}

                            {% if workflow_can(mission, 'to_client_accepted') %}
                                <a type="button" class="btn btn-primary btn-sm" href="{{ path('mission_status_change', {'id': mission.id, 'to': 'to_client_accepted'}) }}">Client Valide</a><br>
                            {% endif %}

                            {% if workflow_can(mission, 'to_in_progress') %}
                                <a type="button" class="btn btn-primary btn-sm" href="{{ path('mission_status_change', {'id': mission.id, 'to': 'to_in_progress'}) }}">In Progress</a><br>
                            {% endif %}

                            {% if workflow_can(mission, 'to_completed') %}
                                <a type="button" class="btn btn-primary btn-sm" href="{{ path('mission_status_change', {'id': mission.id, 'to': 'to_completed'}) }}">Mission Done</a><br>
                            {% endif %}

                            {% if workflow_can(mission, 'freelance_rejected') %}
                                <a type="button" class="btn btn-primary btn-sm" href="{{ path('mission_status_change', {'id': mission.id, 'to': 'freelance_rejected'}) }}">Reject Mission - Freelance</a><br>
                            {% endif %}

                            {% if workflow_can(mission, 'client_rejected') %}
                                <a type="button" class="btn btn-primary btn-sm" href="{{ path('mission_status_change', {'id': mission.id, 'to': 'client_rejected'}) }}">Reject Mission - Client</a>
                            {% endif %}
                        </div>


                </div>




                <a href="{{path('delete_mission', {'id': mission.id } )}}"type="button" class="btn btn-danger text-end"><i class="fa-solid fa-trash"></i> Supprimer</a>
            </div>
        </div>

    {% endfor %}
</div>


<div id="step2">

    {% if is_granted('ROLE_FREELANCE') or is_granted('ROLE_VIP')%}

        {% for mission in missionsReceive %}


    <div class="card col-9 ms-5 mb-2">
        <div class="card-header text-end">
            {{ mission.startDate|date("d/m/Y") }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ mission.title }}</h5>
            Nom du client : <b>{{ mission.sendMission.lastname }} {{ mission.sendMission.firstname }}</b><br>
            Email : <b>{{ mission.sendMission.email }}</b><br>
            Entreprise : <b>{{ mission.sendMission.denominationCompany }}</b><br>
{#            <div class="mb-3 mt-3">Statut de la mission :  {{ mission.status }}</div>#}
            <a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa-sharp fa-solid fa-message"></i>
            </a>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    {{ form_start(form) }}
                    <button type="submit">Envoyer</button>
                    {{ form_end(form) }}
                </div>
            </div>

            <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal{{ mission.id }}"><i class="fa-solid fa-eye text-light"></i></button>
        </div>
    </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{ mission.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel"><b>{{ mission.title }}</b></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <b>Date : {{ mission.startDate|date("d/m/Y")}}</b><br><br>

                            Nom du client : <b>{{ mission.sendMission.lastname }} {{ mission.sendMission.firstname }}</b><br>
                            Entreprise : <b>{{ mission.sendMission.denominationCompany }}</b><br>
                            Email : <b>{{ mission.sendMission.email }}</b><br>

                            <hr>

                            <b>Objet de la mission :</b> <p>{{ mission.object }}</p>
                            <hr>
                            <b>Description de la mission :</b><br>
                            <p>{{ mission.description }}</p>
                            <hr>
                            <b>Fichier :</b><br>
                            {% if mission.addFile %}
                                <a target="_blank" href="{{ asset('uploads/fichiermission/' ~ mission.addFile) }}">
                                    <img style="width:80px;" src="../img/pdf.png" alt="Image description">
                                </a>
                            {% else %}
                                <p>Aucun fichier transmis</p>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Accepter</button>
                            <button type="button" class="btn btn-danger">Refuser</button>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    {% endif %}
</div>

</div>


{% endblock %}
