{% extends 'base.html.twig' %}

{% block title %}Devnodes | Mes missions{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/mission.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- En tête titre -->
    <h1 class="text-center mt-3">Mes missions</h1>
    <p class="text-center mt-3"> Ici vous pouvez voir et modifier toutes les informations relatives à vos missions.</p><br>

<!-- Wrapper -->
<div class="wrapper">

            {% for mission in missions %}

                <div class="headTitle">
                        <div><b>{{ mission.title }}</b></div>
                        <div>{{ mission.startDate|date("d/m/Y") }}</div>
                    <br>
                </div>

            Nom du client : <b>{{ mission.sendMission.lastname }} {{ mission.sendMission.firstname }}</b><br>
            Entreprise : <b>{{ mission.sendMission.denominationCompany }}</b><br>
            Email : <b>{{ mission.sendMission.email }}</b><br>
            Téléphone : <b>{{ mission.sendMission.phone }}</b><br>

                <div class="footerMission">
                    Statut de la mission : <span class="stateMission">{{ mission.state }}</span>
                    <div class="grp-btnn mb-3">
                    <button type="button" class="btn btn-secondary"><i class="fa-sharp fa-solid fa-message"></i></button>
                    <button type="button" class="btn btn-secondary"> <i class="fa-solid fa-eye"></i> Voir </button><br>
                    </div>
                </div>
                <br>
                <hr>

            {% endfor %}


</div>

{% endblock %}
