{% extends 'base.html.twig' %}

{% block title %}Mission Messages
{% endblock %}

{% block body %}
	<h1>Message index</h1>
<div class="message-container">
{% for message in messageReceive %}
	<div class="message-received">
		<p class="message-content">{{ message.content }}</p>
		<span class="message-datetime">Sent at
			{{ message.datetime|date('Y-m-d H:i:s') }}</span>
		<p class="message-sender">
			{{ message.sender.lastName }}</p>
	</div>

{% endfor %}

{% for message in messageSend %}
	<div class="message-send">
		<p class="message-content">{{ message.content }}</p>
		<span class="message-datetime">Sent at
			{{ message.datetime|date('Y-m-d H:i:s') }}</span>
		<p class="message-recipient">
			{{ message.sender.lastName }}</p>
	</div>

{% endfor %}
</div>

{{ include('message/_form.html.twig') }}

{% endblock %}

