<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta description="Site de mise en relation entre un freelance dans les metiers du numérique et un client a travers un mission">
    <title>{% block title %}Devnodes{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&family=Raleway:wght@400;800&display=swap" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('css/johan.css') }}">
    <link rel="stylesheet" href="{{ asset('css/registerFreelance.css') }}">
    <link rel="stylesheet" href="{{ asset('css/message.css') }}">
    <link href="{{ asset('css/profil.css') }}" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">
</head>
<header>
    <nav>
        <a href="{{ path('app_home') }}"><img src="../img/logo.png" alt="logo devnodes"></a>

        <!-- NAVBAR -->
        <div id="navbar" class="navbar">
            <ul>

                {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a class="btn3" href="{{ path('admin') }}">Dashboard</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_FREELANCE') or is_granted('ROLE_VIP') or is_granted('ROLE_ADMIN') %}
                    <li>
                        <a class="btn1" href="{{ path('app_profil') }}">Profil</a>
                    </li>
                    <li>
                        <a class="btn1" href="{{ path('app_subscription') }}">VIP</a>
                    </li>
                {% endif %}

                {% if app.user %}
                {% if not is_granted('ROLE_FREELANCE') %}
                    <li>
                        <a class="btn1" href="{{ path('app_favorite') }}">Favoris</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}

                <li>
                    <a class="btn1" href="{{ path('app_messaging') }}">Messagerie</a>
                </li>
                <li>
                   <a class="btn1" href="{{ path('missions') }}" id="mission-link">Missions</a>
                    {{ render_esi(controller('App\\Controller\\MissionController::bulle')) }}
                </li>
                <li>
                    <a class="btn1" href="{{ path('app_account') }}">Compte</a>
                </li>
                {% endif %}

                    <li>
                        <a class="btn7" href="{{ path('app_home') }}">Rechercher un Freelance</a>
                    </li>

                <li>
                    <a class="btn2" href="{{ path('app_logout') }}">Deconnexion</a>
                </li>


                    {% else %}
                        <li><a class="btn1" href="{{ path('app_login') }}">Connexion</a></li>
                        <li><a class="btn7" href="{{ path('app_register_choice') }}">Inscription</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- FIN NAVBAR -->


        <!-- FIN NAVBAR -->


        <!-- MENU BURGER -->
        <div id="mySidenav" class="sidenav">
            <a id="closeBtn" href="#" class="close">×</a>
            <ul>
                {% if app.user %}
                {% if not is_granted('ROLE_FREELANCE') %}
                <li><a href="{{ path('app_favorite') }}">Favoris</a></li>
                {% endif %}
                <li><a href="{{ path('app_messaging') }}">Messagerie</a></li>
                <li><a href="{{ path('app_profil') }}">Profil</a></li>
                <li><a href="{{ path('app_account') }}">Compte</a></li>
                    {% else %}
                        <li><a href="{{ path('app_favorite') }}">Se connecter</a></li>
                        <li><a href="{{ path('app_favorite') }}">S'inscrire</a></li>
                {% endif %}
            </ul>
        </div>

        <a href="#" id="openBtn">
            <span class="burger-icon">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </a>

        <!-- FIN MENU BURGER -->
    </nav>
</header>

<body>
{% for message in app.flashes("message") %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
    {% block body %}{% endblock %}
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3">
            <a href="#" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <img src="../img/logo.png" alt="logo devnodes">
            </a>
            <p class="text-muted logoSocial">
                <i class="fa-brands fa-instagram"></i>&nbsp;
                <i class="fa-brands fa-linkedin"></i>&nbsp;
                <i class="fa-brands fa-facebook"></i>&nbsp;
            <i class="fa-brands fa-snapchat"></i></p>
        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
            <h5>Clients</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{{ path('app_home') }}" class="nav-link p-0 text-muted">Accueil</a></li>
                <li class="nav-item mb-2"><a href="{{ path('app_home') }}" class="nav-link p-0 text-muted">Rechercher un freelance</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cookies</a></li>

            </ul>
        </div>

        <div class="col mb-3">
            <h5>Freelances</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{{ path('app_charts') }}" class="nav-link p-0 text-muted">Charte du Freelance</a></li>
                <li class="nav-item mb-2"><a href="{{ path('app_register_choice') }}" class="nav-link p-0 text-muted">Inscription</a></li>
                <li class="nav-item mb-2"><a href="{{ path('app_cgu') }}" class="nav-link p-0 text-muted">CGU</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Contactez nous</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{{ path('app_contact') }}" class="nav-link p-0 text-muted">Formulaire de contact</a></li>
                <li class="nav-item mb-2"><i class="fa-solid fa-location-dot"></i> France</li>
                <li class="nav-item mb-2"><i class="fa-solid fa-phone"></i> 118 218</li>
                <li class="nav-item mb-2"><i class="fa-solid fa-envelope"></i> devnodes.contact@gmail.com </li>
            </ul>
        </div>
    </footer>
    {% block javascripts %}
        <script src="/tarteaucitron/tarteaucitron.js"></script>

        <script type="text/javascript">
            tarteaucitron.init({
                "privacyUrl": "legals", /* Privacy policy url */
                "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */
                "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
                "cookieName": "tarteaucitron", /* Cookie name */

                "orientation": "middle", /* Banner position (top - bottom) */

                "groupServices": false, /* Group services by category */
                "serviceDefaultState": "wait", /* Default state (true - wait - false) */

                "showAlertSmall": false, /* Show the small banner on bottom right */
                "cookieslist": false, /* Show the cookie list */

                "closePopup": false, /* Show a close X on the banner */
                "showIcon": true, /* Show cookie icon to manage cookies */
                //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
                "iconPosition": "BottomLeft", /* BottomRight, BottomLeft, TopRight and TopLeft */
                "adblocker": false, /* Show a Warning if an adblocker is detected */

                "DenyAllCta" : true, /* Show the deny all button */
                "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
                "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

                "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
                "removeCredit": false, /* Remove credit link */
                "moreInfoLink": true, /* Show more info link */
                "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
                "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */
                //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

                "readmoreLink": "", /* Change the default readmore link */
                "mandatory": true, /* Show a message about mandatory cookies */
                "mandatoryCta": true /* Show the disabled accept button when mandatory on */
            });
        </script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRiHKpx4yHpgxRuzBdY72UzyLgBA8aBhA&libraries=places"></script>
         <script src="https://www.google.com/recaptcha/api.js?render=6Ld0FiIkAAAAABNn3uVj7xBf5SQQ4xmh_ZOocfo3"></script>
        <script src="{{ asset('js/home.js') }}"></script>
        <script src="{{ asset('js/comment.js') }}"></script>
        <script src="{{ asset('js/voirPlusButton.js') }}"></script>
        <script src="{{ asset('js/autocompletion.js') }}"></script>
        <script src="{{ asset('js/registerFreelance.js') }}"></script>
        <script src="{{ asset('js/favorite.js') }}"></script>
        <script src="{{ asset('js/stripe.js') }}"></script>
        <script src="https://kit.fontawesome.com/81ab4e445e.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
                integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
                integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
                crossorigin="anonymous"></script>
    {% endblock %}
</body>


</html>