{% extends 'base.html.twig' %}

{% block title %}Devnodes | Inscription Freelance{% endblock %}

{% block body %}

    <div class="wrapper" style="width: 50rem">

        {{ form_start(registrationForm, {'id': 'MyForm'}) }}

        <!-- STEP 1 (Infos de base connexion)-->

        <div id="step1" class="active">

            <h3>Etape 1/5</h3>
            <br>

            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
            {{ form_errors(registrationForm.email) }}

            <br>

            {{ form_label(registrationForm.firstname) }}
            {{ form_widget(registrationForm.firstname) }}
            {{ form_errors(registrationForm.firstname) }}

            {{ form_label(registrationForm.lastname) }}
            {{ form_widget(registrationForm.lastname) }}
            {{ form_errors(registrationForm.lastname) }}

            {{ form_widget(registrationForm.password) }}
            {{ form_errors(registrationForm.password) }}


            <button id="nextStep1" onclick="nextStep(2)">Suivant</button>

        </div>


        <!-- STEP 2 (Info catégorie de métier) -->

        <div id="step2">

            <h3>Etape 2/5</h3>
            <br>

            <h6>Quel est votre métier ? </h6><br>
            {{ form_widget(registrationForm.workCategories)}}
            {{ form_errors(registrationForm.workCategories) }}

            <br><br>

            <h6>Combien d'années d'expérience avez-vous dans votre domaine ? </h6><br>
            {{ form_widget(registrationForm.xpYears) }}
            {{ form_errors(registrationForm.xpYears) }}

            <button id="previousStep2" onclick="nextStep(1)">Precedent</button>
            <button id="nextStep2" onclick="nextStep(3)">Suivant</button>
        </div>

        <!-- STEP 3 (Compétences)-->

        <div id="step3">

            <h3>Etape 3/5</h3>
            <br>

            {{ form_label(registrationForm.codingLanguages) }}
            {{ form_widget(registrationForm.codingLanguages) }}
            {{ form_errors(registrationForm.codingLanguages) }}

            {{ form_label(registrationForm.dbs) }}
            {{ form_widget(registrationForm.dbs) }}
            {{ form_errors(registrationForm.dbs) }}

            {{ form_label(registrationForm.frameworks) }}
            {{ form_widget(registrationForm.frameworks) }}
            {{ form_errors(registrationForm.frameworks) }}

            {{ form_label(registrationForm.versionControls) }}
            {{ form_widget(registrationForm.versionControls) }}
            {{ form_errors(registrationForm.versionControls) }}

            {{ form_label(registrationForm.methodologies) }}
            {{ form_widget(registrationForm.methodologies) }}
            {{ form_errors(registrationForm.methodologies) }}

            {{ form_label(registrationForm.platforms) }}
            {{ form_widget(registrationForm.platforms) }}
            {{ form_errors(registrationForm.platforms) }}

            <button id="previousStep3" onclick="nextStep(2)">Precedent</button>
            <button id="nextStep3" onclick="nextStep(4)">Suivant</button>
        </div>

        <!-- STEP 4 (Info de localisation) -->

        <div id="step4">

            <h3>Etape 4/5</h3>

            <br>
            Toutes les informations de l'étape 4 sont nécessaires pour l'abonnement et reste confidentielles.
            <br>
            <br>

            {{ form_label(registrationForm.address) }} -optionnel
            {{ form_widget(registrationForm.address) }}
            {{ form_errors(registrationForm.address) }}

            {{ form_label(registrationForm.city) }} -optionnel
            {{ form_widget(registrationForm.city) }}
            {{ form_errors(registrationForm.city) }}

            {{ form_label(registrationForm.codePostal) }} -optionnel
            {{ form_widget(registrationForm.codePostal) }}
            {{ form_errors(registrationForm.codePostal) }}

            {{ form_label(registrationForm.country) }} -optionnel
            {{ form_widget(registrationForm.country) }}
            {{ form_errors(registrationForm.country) }}
            <br>

            <button id="previousStep4" onclick="nextStep(3)">Precedent</button>
            <button id="nextStep4" onclick="nextStep(5)">Suivant</button>
        </div>

        <!-- STEP 5 (Bio & PP) -->

        <div id="step5">

            <h3>Etape 5/5</h3>
            <br>

            {{ form_label(registrationForm.title) }}
            {{ form_widget(registrationForm.title) }}
            {{ form_errors(registrationForm.title) }}

            {{ form_label(registrationForm.description) }}
            {{ form_widget(registrationForm.description) }}
            {{ form_errors(registrationForm.description) }}

            {{ form_label(registrationForm.price) }}
            {{ form_widget(registrationForm.price) }}
            {{ form_errors(registrationForm.price) }}

            {{ form_label(registrationForm.remoteWork) }}
            {{ form_widget(registrationForm.remoteWork)}}
            {{ form_errors(registrationForm.remoteWork) }}

            {{ form_label(registrationForm.spokenLanguages) }}
            {{ form_widget(registrationForm.spokenLanguages) }}
            {{ form_errors(registrationForm.spokenLanguages) }}

            {{ form_label(registrationForm.phone) }}
            {{ form_widget(registrationForm.phone) }}
            {{ form_errors(registrationForm.phone) }}
            <br>

            <button id="previousStep5" onclick="nextStep(4)">Precedent</button>
            <br><br>
            {{ form_end(registrationForm) }}
            <br>
        </div>

    </div>
{% endblock %}
